html body {
    background-color: lightgray;
}

#bio-image {
    margin-right: 5px;
}

#footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

/* for some reason, I just can not get borders to work. I have no clue why, but I had trouble with it in my Basic-Portfolio as well. 
(and probably will in my Responsive-Portfolio as well) */

#main-content {
    background-color: #ffffff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    border-color: #666666;
    border-width: 5px;
}

h1 {
    color: #4aaaa5;
}

.thummbnail-div {
    margin: 2px;
}

.thumbnail-img:hover {
    opacity: 0.7;
    }

.title-div a {
color: #ffffff;
}

.title-div a:hover {
    color: #ffffff;
    }

.title-div {
    background-color: #4aaaa5;
    text-align: center;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}






/* I want to do a hover effect where the images darken slightly, but can't quite figure out how to get it work. Will play with it more later

.thumbnail-div:hover {
    background-color: black;
    }


*/


